@media only screen and (min-width: 37.5em) {
    nav {
        display: grid;
        grid-template-columns: 60px 300px 382px 1fr;
        justify-content: start;
    }
  
    nav div.social {
      display: flex;
      justify-content: end;
    }
    nav div.social img {
        padding: .1em;
    }
  
    .ham {
        margin-left: 5em;
    }
  
    main {
      display: grid;
      grid-template-columns: 600px 1fr;
      margin-bottom: 1rem;
    }
  
    main div {
      grid-gap: 5px;
    }
  
    /* Hero */
    main .hero {
      grid-column: 1/3;
      margin: 0 auto;
    }
  
    .heroBtn {
      bottom: 2rem;
      right: 2rem;
      font-size: 1.5rem;
      margin: 15px;
    }
  
    .heroP {
      font-size: 3rem;
      margin: auto;
      margin-top: 30px;
      margin-left: 30px;
      bottom: 1rem;
      /* right: 1rem; */
    }
  
    /* Events */
    main .events {
      grid-column: 1/2;
      grid-row: 5/6;
      margin-right: 10px;
    }
    main .events a {
      margin-left: 15rem;
      font-size: 1.2rem;
    }
    main .events p, h1, h2 {
      margin: 0 5em 0 5em;
      padding: 20px;
      text-align: center;
    }
  
    /* Weather */
    main .localWthr {
      grid-column: 2/3;
      grid-row: 5/6;
    }
  
    /* News */
    main .localNews {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  
    /* Spots */
    main div.placeholder {
      grid-column: 1/3;
      grid-row: 3/4;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
    }
  
    main .placeholder div.spotOne h2, div.spotTwo h2, div.spotThree h2{
      margin: auto;
    }
  
    .placeholder div.spotOne, .placeholder div.spotTwo {
      margin: 0;
    }
  
    .placeholder div.spotOne img, div.spotTwo img {
        margin: 34px;
    }
  
    .placeholder hr {
      display: none;
    }
  
    /* Join Us */
    main .joinUs {
      display: grid;
      position: relative;
      grid-column: 1/3;
      grid-row: 4/5;
      margin-top:20px;
      padding: 1rem;
    }
    
    .joinUs div a {
      display: block;
      position: absolute;
      top: 1rem;
      left: 9em;
      margin: auto;
      background-color: rgb(21,24,94); 
      color: white;
      padding: .5rem .5rem;
      text-decoration: none;
      font-size: 1.6rem;
      border-radius: 1rem;
      width: 50%;
      text-align: center;
    }
  
    .joinUs p {
      position: relative;
      text-align: center;
      color: black;
      margin-top: 5rem;
    }
  
    .joinUs div {
      justify-content: center;
    }
  
    .joinUs div a:hover {
      background-color: rgb(21,24,70);
      font-weight: bold;
    }
    
    /* Footer part */
  
    footer div.chamberInfo {
        display: grid;
        grid-template-columns: 150px 300px 1fr;
        grid-template-rows: repeat(2, 1fr);
    }
    footer div .footerLogo {
        grid-row: 1/3;
        padding: 1em;
    }
    footer div p.compName {
        text-align: start;
        align-self: end;
    }
    footer div p.address {
        grid-column: 2/3;
        grid-row: 2/3;
        justify-self: start;
        align-self: start;
    }
    footer div p.cntctInfo {
        align-self: end;
        font-size: 14px;
        justify-self: center;
    }
    footer a {
        align-self: start;
        justify-self: center;
    }
    .authoredInfo span.bar, span.bar1, span.bar2{
        display: block;
        margin-left: 3px;
        margin-right: 3px;
    }
  
    footer div.chamberInfo img.footerLogo {
      grid-column: 1/2;
      grid-row: 1/4;
      justify-self: end;
    }
  
    .authoredInfo {
        display: flex;
        flex-flow: row wrap;
        padding: 0;
        justify-self: center;
        margin-left: 10em;
    }
    .authoredInfo div {
        margin-right:10em;
        padding-bottom: 1em;
    }
  
  }