
main {
  margin: 0 auto;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
}

#cards section {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 350px;
  height: 300px;
  margin: 1em .3em;
  padding: .75em 0;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.directory h1 {
  margin-bottom: 0;
  text-align: center;
  color: rgb(2, 24, 44);
  font-family: "Exo", "Merriweather Sans", sans-serif;
}

.directory p {
  margin: 10px;
  padding: 0;
}

#cards img {
  max-height: 100px;
  max-width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#cards {
  margin: 0 auto;
  text-align: center;
}

button {
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  background-color: rgb(21, 28, 94);
  color: #ccc;
  border-radius: 5px;
  padding: 0.1em;
  margin-left: 21%;
  padding-left: 15px;
  padding-right: 15px;
}

button:hover {
  background-color: rgb(15, 21, 70);
  color: white;
}

button:focus, button:active {
  background-color: rgb(15, 21, 70);
  color: white;
}

#list {
  font-size: 44px;
  padding-top: 12px;
  padding-bottom: 6px;
  /* margin-left: 1em; */
}

#list img {
  display: none;
}

#grid span:nth-child(1) {
  display: block;
}

#grid span:nth-child(2) {
  display: none;
}

#grid.open span:nth-child(1) {
  display: none;
}

#grid.open span:nth-child(2) {
  display: block;
}

#list span:nth-child(1) {
  display: block;
}

#list span:nth-child(2) {
  display: none;
}

#list.open span:nth-child(1) {
  display: none;
}

#list.open span:nth-child(2) {
  display: block;
}

button.open {
  margin-bottom: 15px;
}

#cards.open {
  margin: 0 auto;
  text-align: center;
}

#cards.open section {
  align-items: flex-start;
  /*border: solid 1px #ccc;
  margin: 0;*/
  width: 350px;
  height: 100px;
  padding: .75em 0;
  text-align: left;
  align-self: center;
  justify-self: center;
}

#cards.open section:nth-child(1){
  margin-top: 30px;
}

#cards.open p, a {
  margin: auto;
  margin-left: 10px;
  padding: 0;
}

#cards.open img {
  display: none;
}

#cards.open section:nth-child(even) {
  background-color: #BAD9B5;
}

#cards.open section:nth-child(odd) {
  background-color: #EFF7CF;
}

#cards.open section p:nth-child(2) {
  font-weight: bold;
  font-size: 18px;
}

#cards.open section a:nth-child(5) {
  color: blue;
  text-decoration: underline;
}

@media only screen and (min-width: 37.5em) {

  #grid {
    margin-left: 39%;
  }

  #list {
    align-self: center;
    margin-left: 4%;
  }

  .directory {
    grid-column: 1 / 37;
    grid-row: 2 / 3;
  }

  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1 / 37;
    grid-row: 3 / 10;
  } 

  #cards.open section {
    width: 700px;
    height: 80px;
  }

  #cards section:nth-child(1) {
    grid-column: 1/2 ;
  }

  #cards section:nth-child(2) {
    grid-column: 2/3 ;
  }

  #cards.open {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1 / 37;
    grid-row: 3 / 10;
    row-gap: 0;
  } 

  #cards.open section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/3 ;
  }

  #cards.open section p:nth-child(1),
  #cards.open section p:nth-child(2),
  #cards.open section p:nth-child(3) 
  {
    grid-column: 1/2;
    text-align: left;
    margin-left: 10px;
  }
  
  #cards.open section p:nth-child(4) {
    grid-column: 2/3;
    grid-row: 1/2;
    text-align: right;
    margin-right: 10px;
  }

  #cards.open section a:nth-child(5)
  {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: right;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 60em) {

  #cards {
      grid-template-columns: repeat(3, 1fr);
  }

  /*#grid {
    margin-left: 42%;
  }*/

  #cards.open {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-column: 1 / 37;
    grid-row: 3 / 10;
  } 

  #cards.open section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 1/5 ;
    height: 100px;
    width: 100%;
  }

  #cards.open section p:nth-child(2)
  {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 0;
    margin-right: 20px;
  }
  
  #cards.open section p:nth-child(3)
  {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 0;
  }
  
  #cards.open section p:nth-child(4) 
  {
    grid-column: 3/4;
    margin-top: 0;
  }

  #cards.open section a:nth-child(5)
  {
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: right;
    margin-top: 0;
  }
}