main.join {
  margin-left: 20px;
}

.join h1 {
  margin: 0 auto;
  text-align: center;
  padding-top: 2rem;
}

form fieldset {
  border: none;
  font-size: 1.5em;
  padding-block-end: 0;
  padding-inline-end: 0;
  padding-inline-start: 0;
  padding-block-start: 0;
  margin-inline-start: 0;
  margin-block-end: 0;
  margin-inline-end: 0;
}
form legend {
  font-size: 2rem;
  font-weight: 600;
  color: rgb(21, 28, 94);
}
form label.info {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  font-size: 1em;
  max-width: 25rem;
}
form fieldset:nth-child(1), form fieldset:nth-child(2) {
  margin: .75em 0 1em 0;
}
form label.info input, form label.info textarea{
  border-radius: .25em;
  padding: 5px 10px;
}
form label.info input:required {
  border-left: 10px #ef520a solid;
}
form label.info textarea {
  height: 3rem;
  margin-bottom: .5em;
}
form label.level {
  display: block;
  padding: 15px 0;  
}
form label.level input {
  width: 1em;
  height: 1em;
}

form input.submitBtn{
  width: 100%;
  height: 44px;
  margin: 0 0 1em 0;
  font-size: 1.5em;
  border-radius: 15px;
  background-color: rgb(21, 28, 94); 
  color: white;
  border: none;
}

form input.submitBtn:hover {
  background-color: rgb(15, 21, 70);
  font-weight: bold;
}

.thanks {
  margin: 1em 1em 1em 1em;
}
aside {
  display: none;
}

.thankyou {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr;
}

.thankyouTitle {
  grid-row: 1/2;
  text-align: center;
}

.thankyouText {
  grid-row: 2/3;
  margin-left: 20px;
  margin-right: 20px;
  text-align: justify;
}

@media only screen and (min-width: 37.5em) {
  main.join {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    margin: 0 auto;
  }

  .join h1 {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  div.form {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr 300px 300px;
  }
  
  fieldset.pi {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  fieldset.bi {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  fieldset.ml {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  aside {
      display: block;
      grid-column: 2/3;
      grid-row: 1/4;
      margin: 1em 1em;
  }


  aside .benefits ul{
      display: flex;
      flex-direction: column;
      margin: 0 1em;
      font-size: 20px;
      text-align: justify;
  }
  aside h2{
      color: white;
      font-size: 30px;
      text-align:center;
      margin: 0;
      margin-bottom: -10px;
  }
  aside h3 {
      margin-bottom: 5px;
      font-size: 24px;
  }
  .submit {
      grid-column: 1/3;
  }

  .thankyouText {
    margin-left: 75px;
    margin-right: 75px;
    text-align: justify;
  }

}   


@media only screen and (min-width: 60em) {
  aside .benefits ul{
      font-size: 21px;
  }

  aside .benefits li{
    margin-right: 3em;
  }

  aside h2{
      color: white;
      font-size: 30px;
      text-align:center;
      margin: 0;
  }
  aside h3 {
      margin-bottom: 1em;
      font-size: 24px;
  }
  .submit {
      grid-column: 1/3;
  }

}