/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Merriweather+Sans:ital,wght@0,400;0,700;1,600&family=Roboto:wght@400;700&display=swap');

:root {
    --main-color: #EFF6FB;
    --second-color: #FFE2C2;
    --third-color: #146429;
    --accent-one: #223127;
    --header-font: "Roboto", serif;
    --paragraph-font: "Merriweather", "Open Sans", sans-serif;
}

/* HOMEPAGE */
/* BODY */
body {
    background-color: var(--main-color);
}

/* HEADER area */
a#hd-logo {
    display: none;
}


h1, h2 {
    font-family: var(--header-font);
    margin: 0 1vw;
    color: var(--accent-one);
}

div.business_info h4 {
    font-family: var(--paragraph-font);
    line-height: 1.5rem;
    color: var(--accent-one);
}

button.call-to-action a {
    font-family: var(--header-font);
    text-decoration: none;
    color: var(--accent-one);
    font-size: x-large;
}

div.business_info button.call-to-action {
    background-color: var(--second-color);
}

p {
    font-family: var(--paragraph-font);
    margin: 0.3em 2vw;
    color: var(--accent-one);
    line-height: 1.5;
}

/* Fresh page */
legend {
    font-family: var(--header-font);
    padding: .3em;
}

label.select_fruits {
    margin: .2em;
    padding: .3em;
    font-family: var(--paragraph-font);
}


label input {
    margin: .3em .4em;
    padding: .3em;
}

nav.nav_links button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    background-color: green;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #eee;
}

#logo_sm {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

#hamburgerBtn {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: var(--accent-one);
    font-family: var(--header-font);
    border-top: 1px solid rgba(0,0,0,0.5);
}


nav ul li.active a {
    background-color: var(--accent-one);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
    grid-column: 1 / 3;
    grid-row: 2 / 2;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

/* MAIN area */
main.content {
    display: block;
    margin: 2em;
    height: auto;
}

/* MAIN IMAGE */
div.main_img img {
    width: 100%;
}

div.coast_area_section .coast img, 
div.coast_area_section img {
    width: 100%;
}

div.weather-sections, div.coast_area_section {
    margin-top: 1.5em;
}

/* Weather Section */
div.weather-sections {
    margin: 2em 0;
    text-align: center;
}


/* FRESH PAGE starting */
.fresh_form {
    background-color: #fefefe;
    margin: 5% auto 2em auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* Add padding to container elements */
.form_container {
    padding: 16px;
}

fieldset {
    margin-top: 1.5em;
}

/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Full-width input fields */
input[type=text], input[type=password], textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=email], input[type=tel] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
  
  /* Add a background color when the inputs get focus */
input[type=text]:focus {
    background-color: #ddd;
    outline: none;
}
  
  /* Set a style for all buttons */
button {
    background-color: #012622;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}

label.info {
    font-family: var(--paragraph-font);
}

legend {
    font-family: var(--paragraph-font);
    color: var(--third-color);
    font-size: x-large;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Float reset and make drink buttons and add an equal width */
.reset, .submitBtn {
    float: left;
    width: 50%;
}

/* Extra styles for the reset button */
.reset {
    padding: 14px 20px;
    background-color: #f55b1f;
  }

div#info_and_nuts {
    display: none;
    margin: 2em auto;
    text-align: center;
}
/* FRESH page ending */


/* ABOUT US PAGE */
main.fresh_content {
    margin: .5em 2em;
}

img.hist_area_info_3, img.hist_area_info_5 {
    margin-top: 2.5em;
    width: 100%;
}
img.hist_area_info_1 {
    width: 100%;
}

p.hist_area_info_2, 
p.hist_area_info_4,
div.hist_area_info_6 p {
    color: var(--accent-one);
}

div.hist_area_info_6 h2 {
    margin: .6em auto;
    padding: 0 .3em;
    color: var(--third-color);
    font-family: var(--custom-font);
}

/* Format the Google Map card */
div#carlsbad_map iframe { 
    width: 100%;
    margin: 2em auto;
    padding: 2em;
    text-align: center;
}
/* About Us page ending */



/* FOOTER START */
footer {
    display: block;
    text-align: center;
}
/* FOOTER END */

